# this script watches this directory and copies it to a new directory so it can be transffered home
/path/to/SeedingDirectory IN_CREATE,IN_MOVED_TO,IN_ONLYDIR cp -r /path/to/SeedingDirectory/$# /path/to/TransferDirectory/$#
