
/*** The All So Important RESET! ***/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


a img {border:none}


aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}



/************************ Basics ************************/

html {
	width:100%;
	height:100%;

	}


 body{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color:#191919;
	color:#fff;
	margin:0 0 1px; height:100%; 
	line-height: 1.5;
	width:100%;

}




p {
	margin-bottom:7px;

	}
	
a, p a {
	text-decoration:none;
	color:white;
	}
	a:hover {color:white;}


h1, h2, h3, h4, h5, h6 {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
	position:relative;

	

}


	
h1{
	font-size: 45px;

	line-height:0.9;
	color:#fff;
	text-align:left;
	margin-bottom:10px;
	padding-bottom:10px;


	}

	
	
h2{
	font-size: 22px;
	line-height:1.3;
	color:#fff;
	text-transform:none;
	font-style:italic;
	text-align:left;
	margin-top:7px;
	padding-bottom:6px;



	}
	

h3{
	font-size: 23px;
	line-height:0.9;
	color:#fff;
	text-align:left;
	margin-bottom:10px;
	padding-bottom:10px;
	}
	
h3 span{
	
	font-size: 12px;
	line-height: 1.4;
	color:white;
	display:block;
	margin-top:10px;
	text-transform:none;


}

h4{
	font-size: 23px;
	line-height:0.9;
	color:white;
	text-align:left;
	margin-bottom:12px;
	padding-bottom:10px;
	}


	
h4 span{
	
	font-size: 12px;
	line-height: 1.4;
	color:white;
	display:block;
	margin-top:10px;
	text-transform:none;


}

header{
	position: relative;
	
	width: 100%;
	height:100px;
	background:url(../images/bg.png) no-repeat;
	background-position: center;	
border-bottom: 3px solid #9acd32;
	display:block;



	}

footer{
	
	height:100px;
	clear:both;
	width:100%;
	margin:0 auto;
	background-color:#111;
	border-top: 3px solid #9acb32;
	margin-top: 10px;
	
	

	}
.green {
	color: #9acb32;
}






/************************ Containers ************************/

#container, #container_left, #container_right{
	position: relative;
	width:100%;
	
	}
	
#container{
			position:relative;
			width:100%;
			margin:0 auto;
			background-color:transparent;
			min-height:100%;
			max-height:40px;
			
}

#logcontainer{
			position: relative;
			width:375px;
			margin-left: auto;
			margin-right: 40px;
			background-color:transparent;
			min-height:100px;
			border-radius: 5px;
			height:450px;
			overflow:scroll;
			white-space: nowrap;
			border: 5px solid #9acb32;
			display: inline-block;
}
#containerlabel{
			position:relative;
			width:375px;
			margin-top: 20px;
			text-align: center;
			margin-left: auto;
			margin-right: 40px;
			background-color:transparent;
			height:32px;
			font-size: 30px;
			color: #9acb32;
			display: inline-block;
}
#stretch{
	width: 1300px
	margin-left: auto;
	margin-right: auto;
}
.container{
    width:1300px;
   margin: 0 0 0 0;

	background-color:transparent;
	padding-top:20px;
	padding-right:0px;
}

	}
	

	
			

	

	
#intro{
	width: 100%;
	position: relative;
	float: left;
	height:auto;
	padding:10px;
	background:transparent;
	margin-top:0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
}	
/************************ Navigation Menu ************************/


nav{
	position:relative;
	width:1200px;
	height:0px;
	margin-left: 300px;
	padding-top: 40px;
	margin-bottom: 0px;
	

}


nav ul li{
	float: left;
	line-height:normal;
	margin-left:15px;
}

nav ul li a{
	font-size: 30px;
	font-family:"BebasNeueRegular", Arial, Helvetica, sans-serif;
	color:#fff;
	text-transform:capitalize;
	font-weight:normal;
	display:block;	/* IE6, IE7 line height fix */
	background-color:transparent;
	text-decoration:none;
	margin-top:3px;
	padding:5px;	
}

nav ul li a:hover{
	color:#9acd32;
	

}
.clearing{
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
}

/************************ Specifics ************************/
 
#title{
	position:relative;
   	float:left;
   	top:15px;
	left:0px;
	width:250px;
	height:20px;
	padding-right:100px;
	

}	


#embeded{
	position:relative;
	height:650px;
	width: 100%;
	margin-top:0px;
	padding-top:0px;
	 
}	
.button:hover {

	color:#fff;
}

